h1 {
    font-size: 40px;
    color: red;
    font-family: Verdana;
}

p { font-size: 20px;
    color: green;
    font-family: Tahoma;
}

footer {
    text-align: center;
    font-size: 20px;
    color: brown;
}

img {
    width: 300px;
    height: 100%
}